PROJECT_NAME=ruby

RUBY_VERSION='4.0'
NODE_VERSION='26.3'
POSTGRES_VERSION='18.4'

UID=1000
GID=1000
UNAME=docker
GNAME=docker
PASS=

DB_NAME=ruby
DB_USER=admin
DB_PASS=admin

SERVER_PORT_HOST=80
ADMINER_PORT_HOST=8080

TZ="Europe/Berlin"
