# ~* has higher precedence than /,
# access to resources requires therefore try_files

upstream wpdemo2 {
  # docker containers
  server project-name-wordpress:80;
}

server {
  listen [::]:3000 default_server ipv6only=on;
  listen 0.0.0.0:3000 default_server;

  server_name _;
  charset utf-8;

  # Disable sendfile as per https://docs.vagrantup.com/v2/synced-folders/virtualbox.html
  sendfile off;

  location @proxy {
    proxy_pass http://wpdemo2;

    proxy_set_header   X-Forwarded-Host $host:3000;
    proxy_set_header   X-Forwarded-Port 3000;

    proxy_redirect http://localhost/ http://$host:3000/;
    proxy_set_header   Host $host:3000;
  }

  location / {
    try_files $uri @proxy;
  }

  # Redirect server error pages to the static page /50x.html
  error_page 500 502 503 504 /50x.html;
  location = /50x.html {
    root /var/lib/nginx/html;
  }

  include /etc/nginx/conf.d/config/forbidden.conf;

  location = /favicon.ico {
    try_files $uri @proxy;

    log_not_found off;
    access_log off;
  }

  location = /robots.txt {
    try_files $uri @proxy;

    allow all;
    log_not_found off;
    access_log off;
  }

  # Cache for static assets
  location ~*  \.(jpe?g|png|webp|gif|css|js|ico)$ {
    try_files $uri @proxy;

    expires max;
    log_not_found off;
  }

  # prevent image hotlinking, except for provided domains (usefull when a CDN is not in use)
  location ~ \.(jpe?g|png|webp|gif)$ {
    try_files $uri @proxy;

    valid_referers none blocked localhost *.localhost;
    if ($invalid_referer) {
      return 403;
    }
  }
}
