networks:
  default:
    name: service

services:
  adminer:
    container_name: service_adminer
    image: adminer:latest
    environment:
      # https://github.com/vrana/adminer/tree/master/plugins
      ADMINER_PLUGINS: "tables-filter edit-calendar edit-textarea"
      # https://github.com/vrana/adminer/tree/master/designs
      # ADMINER_DESIGN: "nicu"
      # ADMINER_DESIGN: "custom-theme"
      # default server entry in the login form
      ADMINER_DEFAULT_SERVER: "db"
      # ADMINER_SERVERS_JSON: '[{"server":"db:3306","username":"${DB_USER}","password":"${DB_PASS}","db":"${DB_NAME}","label":"Local Dev (ENV)"}]'
    restart: unless-stopped
    user: adminer
    ports:
      - "8080:8080" # web ui
    volumes:
      - ./.docker/service/adminer/custom-theme:/var/www/html/designs/custom-theme:ro
      - ./.docker/service/adminer/plugins/autologin.php:/var/www/html/plugins/autologin.php
      - ./.docker/service/adminer/plugins-enabled/autologin.php:/var/www/html/plugins-enabled/autologin.php
      # - ./.docker/service/adminer/connections.json:/var/www/html/connections.json

  # db:
  #   container_name: service_db
  #   image: mariadb:11.4
  #   healthcheck:
  #     test: [ "CMD", "healthcheck.sh", "--connect", "--innodb_initialized" ]
  #     start_period: 5s
  #     start_interval: 10s
  #     interval: 5s
  #     timeout: 5s
  #     retries: 3
  #   restart: unless-stopped
  #   environment:
  #     MARIADB_USER: admin
  #     MARIADB_PASSWORD: admin
  #     MARIADB_ROOT_PASSWORD: root
